@media (max-width: 1550px){
.slider {
    display: flex;
    z-index: 1;
    max-width: 1400px;
    width: 100%;
}
}
@media (max-width: 1444px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 1200px;
        width: 100%;
    }
    }
@media (max-width: 1246px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 1100px;
        width: 100%;
    }
    .registration {
        margin-top: 100px;
    }
    }
@media (max-width: 1146px){
        .slider {
            display: flex;
            z-index: 1;
            max-width: 1000px;
            width: 100%;
        }
        }
@media (max-width: 1030px){
        .slider {
                display: flex;
                z-index: 1;
                max-width: 900px;
                width: 100%;
            }
            }
@media (max-width: 930px){
        .slider {
                    display: flex;
                    z-index: 1;
                    max-width: 850px;
                    width: 100%;
                }
                }
@media (max-width: 880px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 750px;
        width: 100%;
    }
    } 
@media (max-width: 880px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 680px;
        width: 100%;
    }
    .fas {
        margin-right: 40px;
    }
    }    
@media (max-width: 725px){
        .slider {
            display: flex;
            z-index: 1;
            max-width: 600px;
            width: 100%;
                       
        }
        .title-registration {
            font-size: 15px;
        }
        }   
@media (max-width: 643px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 540px;
        width: 100%;
    }
    .fas {
        display: none;
    }
    
    }    
@media (max-width: 600px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 500px;
        width: 100%;
    }
    }     
  
@media (max-width: 570px){

    .slider {
        display: flex;
        z-index: 1;
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        
    }
    .title-registration {
        font-size: 13px;
    }
    .footer-text {
        font-size: 8px;
       
    }
    }  
@media (max-width: 460px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 300px;
        width: 100%;
               
    }
    
    }      
@media (max-width: 370px){
    .slider {
        display: flex;
        z-index: 1;
        max-width: 250px;
        width: 100%;
                 
    }
    .navbar-ul a:hover {
        color: black;
        font-size: 16px;
    }
    .navbar-ul a {
        font-size: 15px;
    }
    .registration {
        margin-top: 150px;
    }
    }                                       
@media (max-width: 981px) {
    .navbar-ul a {
        font-size: 17px;
    }
}

@media (max-width: 769px){

    .home-wrapper1 {
        flex-direction: column;
    }
    
    .navbar-links  {
        display: none;
        
    }
    .toggle-button {
        display: block;
        margin-left: 200px;
        
    }
    .navbar-ul a {
        color: black;
        font-weight: bolder;
    }
  
    .fab {
    font-size: 20px;
    margin-right: 15px;
    margin-top: 20px;
}

/* for JS */

.navbar {
    flex-direction: column;
    
    
}
.navbar-ul {
    flex-direction: column;
    padding: 20px;
    
       
}

.navbar-ul a {
    font-size: 20px;
    background-color: #C5C7CA;
   
} 

.navbar-ul li {
    
    text-align: end;
    margin-bottom: 30px;
    
    
    
}
.navbar-links.active {
    display: block;
    height: 2px;
    /* background: #716B7A; */
   
    } 

.home-wrapper1 {
    margin-top: 30px;
    
}
.home-wrapper1 img {
    margin: 0 auto;
    padding: 2px;
}
.text-div {
    max-width: 1000px;
    width: 100%;
    padding: 50px;
    margin-top: -10px;  
    
    
    
}

p {
    margin:0 auto;
}
}


    
@media (max-width:650px) {
.text-logo {
        font-size: 10px;
        Letter-spacing: 1px;
    }
.image-wrapper1 img {
        max-width: 290px;
        width: 100%;
    }
    
    .navbar-ul a:hover {
        color: black;
        font-size: 25px;
    }
        
}



@media (max-width: 578px) {
    .image-wrapper1 img {
        max-width: 230px;
        width: 100%;
    }
    .text1 {
       
        font-size: 13px;
    }
    .image-wrapper1 {
        
        margin-left: 70px; 
        
    
    }
}
@media (max-width: 455px) {
    .image-wrapper1 img {
        max-width: 270px;
        width: 100%;
        
    }
    .image-wrapper1 {
        
        margin-left: 45px; 
    
    }

    .navbar-ul a:hover {
        color: black;
        font-size: 25px;
    }
    .navbar-ul a {
        font-size: 20px;
    }
}

@media (max-width: 380px) {
    .fab {
        font-size: 15px;
        margin-top: 30px;
    }
}