body {
    background-color: #C5C7CA;
}

/* header */
header {
    max-width: 2000px;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-bottom: 50px;
    color: #7E8486;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #C5C7CA; 
        
}
.div-logo {
    width: 50%;
    
    display: flex;
    margin-left:50px;

}

.logo {
    max-width: 50px;
    margin-top: 30px;
    
}

.text-logo {
    
    margin-top: 48px;
    margin-left: 15px;
    font-size: 11px;
    font-family: "BPG Irubaqidze", sans-serif;
    Letter-spacing: 2px;
    font-weight: 900;
        
}
.text-logo:hover {
    font-size: 12px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 200px;
    
}
.navbar-ul a {
    margin-right: 20px;
    font-size: 20px;
    font-family: "ALK Life", sans-serif;
    color: white;
    font-weight: 500;
    
}
.navbar-ul a:hover {
    color: #56305D;
    font-size: 25px;
}

a {
    color: #5a5561;
    

}
.toggle-button { 
    position: absolute;
    top: 30px;
    right:30px;
    font-size: 30px;
    display: none;
    cursor: pointer;
    }


    /* body - Section 1 */

    .home-wrapper1 {
        display: flex;
        justify-content: space-between;
          
    }
   
    .image-wrapper1 {
        
        margin: 50px 50px;
        /* position: relative; */
        display: flex;
        flex-direction: column;

                
    }
    .image-wrapper1 img {
        max-width: 350px;
        width: 100%;
        margin-top: 2px;
                
    }
   
    /* section1; block 2 */
    .text-div {
        max-width: 600px;
        width: 100%;
        height: 200px;
        margin-top: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        
    }
    .mome {
        margin-left: 20px;
        margin-bottom: 30px;
        font-family: "BPG Irubaqidze", sans-serif;
        font-weight: 900;
        font-size: 30px;
        
    }
   .text1 {
       text-align: center;
       font-family: "ALK Life", sans-serif;
       margin-top: 10px;
       font-size: 15px;
       
   }
   .trust {
       font-size: 17px;
       font-weight: 900px;
       margin-top: 30px;
   }


   /* section 2 (forms) */


.title-registration {

    font-family: "BPG Irubaqidze", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 20px;

}
.fa-heart {
 font-size: 20px;
 
}
/* section 3 (slider) */

.slider {
    display: flex;
    z-index: 1;
    max-width: 1500px;
    width: 100%;
    
    
}
.slider .slider_item {
    width: 10px;
    height: 250px;
    margin: 30px;
}
.slider .slider_item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/* form */

.form-wrapper {
    margin-top: 50px;
}
.username-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-label {
    font-family: "ALK Life", sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
}

.input-wrapper {
    max-width:300px;
    width: 50%;
    height: 45px;
    color: black;
    background-color: lightgray;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid grey;
    
    
    
}
.input-wrapper:focus {
    outline:none
}

.submit-buttom {
    
        width: 50px;
        background-color: #C5C7CA;
        border-radius: 100px;
        margin: 25px;
        cursor: pointer;
    }

/* footer */


footer {
    height: 70px;
    background-color: #333535;
    
    
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;

}

.footer-logo {
    width: 25px;
}
.footer-text {
    font-size: 10px;
    margin-left: 5px;
   
}

.footer-text-logo img {
    margin-top: 20px;
    margin-left: 10px;
}
.fab {
    font-size: 20px;
    margin-right: 15px;
    margin-top: 20px;
}
.fab:hover {
    font-size: 25px;
}
.fa {
    font-size: 30px;
    margin-right: 15px;
    margin-top: 20px;
}
.dog-icons {
    margin-top: 5px;
}
.fa {
    color: gray;
    margin-right: 70px;
}



/* about page */

.we {
    background-color: #BABEBF;
    max-width: 2000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.we img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 85px;
    
}
.about-main {
    display: flex;
    flex-direction: column;
}
.we h2  {
    margin-top: 150px;
    text-align: center;
    font-family: "ALK Life", sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.we p  {
    margin-top: 50px;
    text-align: center;
    font-family: "BPG Irubaqidze", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.about-us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;    
}
.about-us img {
    max-width: 2000px;
    width: 100%;
    height: 200px;
}
.about-us p {
    max-width: 500px;
    text-align: center;
    font-family: "BPG Irubaqidze", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
}
.about-us h2 {
    margin-top: 30px;
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.about-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.about-img-wrapper img {
    max-width: 330px;
    width: 100%;
    height: 300px;
    margin-bottom: 150px;
    margin-top: 150px;
}


/* services */


.services-top {
    background-color: #7E8486;
    max-width: 2000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.services-top img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 85px;
    
}
.services-top-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.services-top h2  {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "ALK Life", sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.services-top-left a  {
    margin-top: 25px;
    text-align:left;
    font-family: "BPG Irubaqidze", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.services-top-left a:hover {
    color: black;
    font-size: 25px;
}
.services-top img {
    max-width: 70px;
    margin-top: 200px;
   
}
.services-top img:hover {
    max-width: 75px;
}
.img1 {
margin-right: 50px;
}
.img2 {
    margin-right: 50px;
}
.img3 {
    margin-right: 50px;
}
.hotels {
    height: 500px;
    background-color: #C5C7CA;
    padding-top: 50px;
    height: auto;
    
   
}

.hotels h2 {
    font-family: "ALK Life", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: #AFB4B5;
     
    
}

.service-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.service-img-wrapper img {
    max-width: 250px;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 10px;
}


/* contact */


.contact-section {
    max-width: 2000px;
    width: 100%;
    height: 950px;
    background-color: #AFB4B5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}




.contact-div h4 {
    font-family: "ALK Life", sans-serif;
    margin-top: 280px;
    font-size: 20px;
    margin-left: 50px;
}
.contact-div p {
    font-family: "ALK Life", sans-serif;
    margin-top: 20px;
    font-size: 15px;
    font-family: "BPG Irubaqidze", sans-serif;
    margin-left: 70px;
}
.contact-icons {
    margin-left: 200px;
}

.form-wrapper-contact {
    margin-top: 200px;
    max-width: 700px;
    width: 100%;
    
    
}
.username-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;    
}
.input-wrapper-contact {
    max-width:500px;
    width: 50%;
    height: 45px;
    color: black;
    background-color: lightgray;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid grey;
    
    
    
}
.input-wrapper-contact:focus {
    outline:none
}
.textarea-contact {
    margin-top: 50px;
    max-width: 500px;
    width: 100%;
    height: 120px;
    color: black;
    background-color: lightgray;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid grey;
}